.ticket-list {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.ticket-list > li {
    display: inline-block;
}

.sc-bdVaJa {
    vertical-align: middle;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    margin-right: 0.2em;
}
.sc-bdVaJa:hover {
    background-color: #EBECF0;
    border-radius: 0.1em;

}