#username, #password {
    padding: 0.6em;
    border-radius: 0.6em;
}

#username:focus, #password:focus {
    outline: none;
}

#username:hover, #password:hover {
    box-shadow: 3px 3px rgb(0, 155, 179);
}