.icon-plus {
    background-color: #36B37E;
    border-radius: 0.1em;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.plus-button {
    display: flex;
    background: none;
    border: none;
}