.user-icon {
    height: 2em;
    background-color: #F4F5F7;
    padding: 0.5em;
    border-right: 0.5em solid #FF5630;
    cursor: context-menu;
}

.user-img-icon {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.2em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
    margin-right:0.5em;
}